*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.app{
  width: 100%;
  max-width: 960px;
  padding: 15px;
  margin: 0 auto;
  text-align: center;
}

.card-list{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.card{
  width: 33.333%;
  padding: 10px;
  border-radius: 15px;
  border: 5px solid #858585;
  background-color: #8585859c;
  box-shadow: 0 0 10px 5px #858585;
  margin-bottom: 15px;
}

input{
  background: none;
  border: none;
  outline: none;

  border: 5px solid #858585;
  border-radius: 15px;
  padding: 10px;
  width: 100%;
  box-shadow: 0 0 10px 5px #858585;
  background-color: #8585859c;
}

.card-form{
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}

button{
  outline: none;
  background-color: #8585859c;
  border: none;
  border: 5px solid #858585;
  box-shadow: 0 0 10px 5px #858585;
  border-radius: 10px;
  padding: 0 20px;
  cursor: pointer;
  transition: .3s linear;
}

button:hover{
  background-color: #858585e8;
  transition: .3s linear;
}

.nav-link-wrap{
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.nav-link{
  padding: 5px 10px;
}

.nav-link a{
  color: black;
  text-decoration: none;
  transition: .2s linear;
}

.nav-link a:hover{
  opacity: 0.5;
  transition: .2s linear;
}

.remove-wrap{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.remove{
  padding: 5px 10px;
  background-color: red;
  border-radius: 10px;
  cursor: pointer;
}